<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon (click)="utils.goBack()">arrow_back</mat-icon>
    <span>Reset Password</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="col-md-6 col-md-offset-3">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <mat-form-field>
      <input type="email" matInput disabled value="{{email}}">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="password" formControlName="password" minlength="5" maxlength="20" required>
    </mat-form-field>
    <div class="form-error-message" *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required</p>
      <p *ngIf="password.errors.minlength">Password must be atleast {{password.errors.minlength.requiredLength}} characters long</p>
    </div>

    <mat-form-field>
      <input type="password" matInput placeholder="confirm password" formControlName="confirmPassword" minlength="5" maxlength="20" required>
    </mat-form-field>
    <div class="form-error-message" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
      <p *ngIf="confirmPassword.errors && confirmPassword.errors.required">Confirm Password is required</p>
      <p *ngIf="confirmPassword.errors.minlength">Confirm password must be atleast {{confirmPassword.errors.minlength.requiredLength}} characters long</p>
    </div>
    <div class="form-error-message" *ngIf="!confirmPassword.errors && confirmPassword.value !== password.value">
        <p>Password and confirm password should be same</p>
    </div>
    
    <p style="text-align: center">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </p>
  </form>
</div>