/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-error-message > p {
    color: red;
    font-size: small;
    margin-top: -15px;
}