/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-error-message > p {
    color: red;
    font-size: small;
    margin-top: -15px;
}

.right-aligned {
    position: absolute;
    right: 10px;
}

.form {
    box-shadow: 1px 1px 2px;
}

.form mat-form-field {
    width: 95%;
    margin-left: 1vh;
}

.profile-image {
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    border-radius: 50%;
}